ul {
  padding-bottom: 20px;
}
li{
  display: inline-block;
  font-size: 1em;
}
h1{
  text-align: center;
  font-family: Verdana, sans-serif;
  color: white;
}
h2{
  font-family: Verdana, sans-serif;
}
body{
  text-align: center;
}
header{
  background-color: steelblue;
}
img {
  width: 100px;
  max-height: 120px;
  margin: 5px;
  float:left;
}
#cuerpo{
  width: 80%;
  margin: auto;
}
#cuerpo > div {
  height: 130px;
}

.cookies{
  background-color: lightgrey;
  width: 95%;
  margin: auto;
  border-radius: 5px;
  padding: 1px;
  display: none;
  font-family: "Arial";
  font-size: 12px;
  position: sticky;
  bottom: 5px;
}

.cookies a{
  text-decoration: none;
}
