body{
  background-color: #71c341;
  text-align: center;
  padding-top: 200px;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

p:nth-child(1){
  font-size: 40px;
}

p:nth-child(2){
  font-size: 20px;
}
